:root{
    --primary-color: #FC5331;
    --secondary-color: #30BCED;
    --background-color: #303036;
    --text-color: #E1CCB7;
    --accent-color: #000000;
}


    * {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }



    /* Prevent image drag */
    img {
        -webkit-user-drag: none;
        user-drag: none;
        pointer-events: none;
    }

    button {
        -webkit-user-drag: none;
    }


body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #303036;
}


.kode-mono-uniquifier {
                font-family: "Kode Mono", monospace;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }

